---
const about = [
  {
    title: "Research & Development",
    description:
      "Exploring innovative technologies and methodologies to create cutting-edge web solutions.",
    icon: "heroicons-outline:pencil",
    bgColor: "bg-yellow-100",
    textColor: "text-yellow-600",
    rotate: "rotate(-3deg)",
  },
  {
    title: "Prototyping",
    description:
      "Creating interactive models to visualize and test ideas quickly.",
    icon: "heroicons-outline:cube",
    bgColor: "bg-blue-100",
    textColor: "text-blue-600",
    rotate: "rotate(2deg)",
  },
  {
    title: "Applications Development",
    description:
      "Building robust and scalable cross-platform applications tailored to client needs.",
    icon: "heroicons-outline:code",
    bgColor: "bg-pink-100",
    textColor: "text-pink-600",
    rotate: "rotate(-1deg)",
  },
];
---

<section class="container mx-auto px-4 pb-16 md:pb-24">
  <div class="flex flex-col justify-between items-start gap-5 pb-5">
    <h2
      class="font-heading text-xl md:text-2xl text-black text-center md:text-left"
    >
      what i do?
    </h2>
    <img
      src="/arrow.svg"
      class="h-10 w-16 rotate-[-70deg]"
      alt="arrow pointing to the icon"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-stretch">
    {
      about.map((item) => (
        <div
          class={`manga-card ${item.bgColor} flex flex-col items-center text-center py-8 px-6`}
          style={`transform: ${item.rotate}`}
        >
          <div class={`${item.bgColor}`}>
            <img
              src={`https://api.iconify.design/${item.icon}.svg?color=%23111827`}
              alt={`${item.title} Icon`}
              class="w-8 h-8 p-1 border-[2px] border-[#111] rounded-full bg-white flex items-center justify-center"
              style=" 
              margin-bottom: 0.75rem;
              box-shadow: 2px 2px 0 0 #111;
              "
            />
          </div>
          <h3 class="font-heading text-xl font-bold mb-2">{item.title}</h3>
          <p class="text-base text-gray-700">{item.description}</p>
        </div>
      ))
    }
  </div>
</section>
